@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

.turn-off{ float:right;}
body{ background-image:url(../../images/w1200/bj.png);}
.bjbox{ background-image:url(../../images/w1200/middle-index.png); margin:0 auto;width:1200px; height:1993px; position:relative;}
.ydbox{
	background-image: url(../../images/w1200/M-index-sy.png);
	width: 1180px;
	height: 747px;
	position: absolute;
	left: 4px;
	top: 373px;
}
.btn{ width:190px; height:56px; display:block; margin-top:640px; margin-left:770px;}
