@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

body{ background-image:url(../../images/w1200/bj.png);}
.turn-off{ width:81px; height:81px; background-image:url(../../images/w1200/tun-off.png); float:right;}
.turn-off a{ display:block; width:81px; height:81px;}
.bjbox{ background-image:url(../../images/w1200/hdxx-k.png); margin:0 auto;width:980px; height:1985px; position:relative;}
.ydbox{
	background-image: url(../../images/w1200/C-hdxx-yd.png);
	width: 982px;
	height: 912px;
	position: absolute;
	left: -2px;
	top: 74px;
}
.btn{ width:203px; height:56px; display:block; margin-top:857px; margin-left:323px;}
