@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

body{ background-image:url(../../images/w1200/bj.png);}
.turn-off{ width:81px; height:81px; background-image:url(../../images/w1200/tun-off.png); float:right;}
.turn-off a{ display:block; width:81px; height:81px;}
.bjbox{ background-image:url(../../images/w1200/background-images.png); margin:0 auto;width:980px; height:2280px; position:relative;}
.ydbox{
	background-image: url(../../images/w1200/C-index-sy.png);
	width: 980px;
	height: 781px;
	position: absolute;
	left: 2px;
	top: 294px;
}
.btn{ width:203px; height:56px; display:block; margin-top:727px; margin-left:447px;}
