@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

.turn-off{ float:right;}
body{ background-image:url(../../images/w1200/bj.png);}
.bjbox{ background-image:url(../../images/w1200/T-wszy-bj.png); margin:0 auto;width:1200px; height:1600px; position:relative;}
.ydbox{
	background-image: url(../../images/w1200/T-wszy-sy.png);
	width: 929px;
	height: 783px;
	position: absolute;
	left: 263px;
	top: 381px;
}
.btn{ width:190px; height:56px; display:block; margin-top:718px; margin-left:248px;}
