@charset "gb2312";
/* CSS Document */
a.btn_yellow { height:30px; line-height:30px; text-align:center; font-size:12px; color:#fff; display:inline-block; padding:0 10px; border-radius:3px;  background-color:#ffaa00;}
a.btn_gray {height:30px; line-height:30px; text-align:center; font-size:12px; display:inline-block; padding:0 10px; border-radius:3px; background-color:#efefef; color:#ffaa00 !important;}
a.btn_green {height:30px; line-height:30px; text-align:center; font-size:12px; color:#fff; display:inline-block; padding:0 10px; border-radius:3px; background-color:#23c973;}
a.btn_red { height:30px; line-height:30px; text-align:center; font-size:12px; color:#fff; display:inline-block; padding:0 10px; border-radius:3px; background-color:#de4a4a;}
a.btn_yellow:hover {background-color:#f1a308;text-decoration:none;}
a.btn_green:hover {background-color:#0cbd61;text-decoration:none;}
a.btn_red:hover {background-color:#d33c3c;text-decoration:none;}
a.btn_blue { height:30px; line-height:30px; text-align:center; font-size:12px; color:#fff; display:inline-block; padding:0 10px; border-radius:3px; background-color:#29abe3;}
a.btn_blue:hover {background-color:#1a9cd4;text-decoration:none;}
a.gray { height:30px; line-height:30px; text-align:center; font-size:12px; display:inline-block; padding:0 10px; border-radius:3px; background-color:#fff; border:1px solid #e4e4e4; color:#555 !important;}
a.gray:hover {background-color:#f5f5f5; border-color:#c0c0c0;text-decoration:none;}




.tab_hf {border:1px solid #efefef; width:100%; height:66px; margin-top:10px;}
.hf_con {border:1px solid #efefef; background:url(../images/bg_list.png) repeat-y;  border-top:none; width:100%; min-height:100px; position:relative;}
.hf_subnav { width:240px/* 260px/1200px*/; float:left;  height:auto;}
.hf_right {width:905px; float:right; min-height:100px; margin:20px 30px 0 0; }
.w980 .hf_right {width:700px;margin:20px 2% 0 0;}
span.ico_fh01,span.ico_fh02,span.ico_fh03,span.ico_fh04,span.ico_fh05,span.ico_fh06{ background-image:url(../images/teacher/home_img.png); background-repeat:no-repeat; width:28px; height:26px; display:inline-block; vertical-align:middle; margin-right:3px;}

span.ico_fh01 {background-position:-4px -50px;}
span.ico_fh02 {background-position:-35px -9px;}
span.ico_fh03 {background-position:-70px -9px;}
span.ico_fh06{ background-position:-35px -48px;}
span.ico_fh05 {background-position:-4px -9px;}
span.ico_fh04{ background-position:-70px -50px;}

.hf_menu { font-family:"微软雅黑"; }
.hf_menu li { width:100%; float:left; height:45px;  line-height:45px; text-indent:2em; letter-spacing:0.5em;}
.hf_menu li span.fr_biao{ float:right; display:block; width:24px; height:45px; background:url(../images/teacher/hf_ico/arr.gif) no-repeat left center;}
.hf_menu li:hover{background:#eee; }
.hf_menu li a {display:block;width:239px; height:45px; line-height:45px; }
.hf_menu li a.sel_t, .hf_menu li a.sel_t:visited { background:#BFEBFF;  color:#0096d6; }
.hf_menu li a, .hf_menu li a:visited { color:#666; text-decoration:none; font-size:16px; }
.hf_menu li a:hover {text-decoration:none; }
.hf_menu li img { _margin:15px 0px; margin-right:10px; vertical-align:middle; }

.hf_biao p{ border:1px solid #efefef; margin-bottom:1em; height:40px; line-height:40px; font-size:1em; width:100%;}
.hf_biao p label{ background:#F4F4F4; display:block; width:16.7816091954023%; float:left; color:#999; text-indent:2%; font-size:1.2em;}

.hf_textbox {  height:35px; line-height:35px; border:0; padding:0 15px; color:#0096d6; font-size:1.2em; width:60%; }
.hf_biao p span{ float:right;}
.hf_textbox1{  height:35px; line-height:35px; border:0; padding:0 15px; color:#555; font-size:1.2em; width:60%; }

.sxBtn { height:40px; line-height:34px; border:none; background: #0096d6 url(../images/teacher/home_img.png) 5px -182px no-repeat; width:97px; color:#555;  text-align:left; padding-left:44px; margin-top:-4px; font-size:1.2em; color:#fff;  }
.sxBtn:hover {background: #30aade url(../images/teacher/home_img.png) 5px -182px no-repeat; cursor:pointer; }
a.fj_tu{ display:block; float:left; width:48px; height:40px; background: #6CD953 url(../images/teacher/home_img.png) 5px -220px no-repeat; margin-right:2px;}
a.fj_tu:hover{ background:#52ca36 url(../images/teacher/home_img.png) 5px -220px no-repeat;;}
a.fj_fu{display:block; float:left; width:48px; height:40px;  background: #EFB760 url(../images/teacher/home_img.png) 5px -262px no-repeat;}
a.fj_fu:hover{background: #e5a036 url(../images/teacher/home_img.png) 5px -262px no-repeat; }


.hf_textboxd { background:#fff;  line-height:35px; padding:10px 15px; border:1px solid #fff; width:78.1777%; color:#666; font-size:1.2em; color:#888;   height:190px; overflow-x:auto ; /*隐藏水平滚动条*/
   }
.hf_send { height:40px; line-height:40px; background:#0096D6; cursor:pointer;  width:100px; color:#fff; text-align:center; border:none; font-size:1.2em;}
.hf_send:hover { background:#30aade;}
.hf_cun{ background:#CCCCCC; height:40px; line-height:40px; cursor:pointer; margin-left:5px; width:100px; color:#fff; text-align:center; border:none; font-size:16px; }
.hf_cun:hover { background:#b3b3b3;}
.hf_cun.green {background-color:#6CD953;}
.hf_fs{ margin-bottom:20px;}
.hf_fs span{ float:right; display:block; background:#EFEFEF; height:40px; line-height:40px; width:72.5%; padding:0 15px; color:#999; font-size:1.2em;}
.w980 .hf_textboxd{ font-size:16px; line-height:35px;}
.w980 .hf_fs span{  float:right; display:block; background:#EFEFEF; height:40px; line-height:40px; width:450px; padding:0 15px; color:#999; font-size:1.2em;}

.hf_ss{ font-size:1.2em; margin-bottom:50px;}

.textbox5 {background:#fff url(../../images/textboxBg3.jpg) repeat-x top center;height:25px;line-height:25px;padding:0 8px;border:1px solid #bcbcbc;width:318px;margin-top:-4px;}

/*添加收件人弹出层*/
.btn_Con11 {background:#f5f5f5; height:40px; line-height:40px; margin-bottom:10px; text-align:center; border-bottom:1px dotted #e0e0e0;}
.btn_Con11.bott {border-top:1px dotted #e0e0e0; border-bottom:none; margin:15px 0 0 0;}
.tongxlu ol {border-bottom:1px solid #e4e4e4;margin:0 10px;}
.tongxlu ul {margin:0 20px 0 45px; line-height:30px; }
.tongxlu li { _height:30px; }
.tongxlu h2 {margin:0 10px; line-height:30px;}
.tongxlu h2 font {font-weight:normal;}
span.jiaarr, span.jianarr {display:inline-block;background:url(../images/jia.png) no-repeat;width:16px;height:16px;font-size:0;margin-right:5px; _margin:10px 5px 10px 0; vertical-align:middle;cursor:pointer;}
span.jianarr {display:inline-block;background:url(../images/jian.png) no-repeat;width:16px;height:16px;font-size:0;margin-right:5px; _margin:10px 5px 10px 0; vertical-align:middle;cursor:pointer;}

span.loading {display:inline-block;background:url(../../images/loading.gif) no-repeat;width:16px;height:16px;font-size:0;margin-right:5px; _margin:8px 5px 8px 0; vertical-align:middle;cursor:pointer;}
.collapsed {  display: none;  } 
.expanded  {  display: block;  }
.tx_con {height:400px;overflow-y:auto;}
.expo_mb {float:right;text-align:left; margin:-5px 0 -15px 0; _display:inline; position:relative; z-index:9;}
.expo_mb_pop {width:120px;background:#fff;border:1px solid #8ac1e2; position:absolute;left:-29px;top:29px; display:none;}
.expo_mb_pop ul {line-height:30px;margin:5px 0 0 5px; padding-right:5px; height:220px; overflow-y:auto;}
.expo_mb_pop li {border-bottom:1px solid #e4e4e4; _height:30px;}
.graBar {display:block;background:#f6f6f6;border-top:1px solid #ebebeb; text-align:center;padding:5px 0;}

.fileBox {width:240px;background:#fff;border:1px solid #8ac1e2; position:absolute;left:-50px;top:29px; display:none;}
.file2 {width:220px;background:#f8f8f8;border:1px solid #8ac1e2;height:30px;line-height:30px;padding:0 5px;margin:10px 0 10px 10px;}

.popContent h5{ font-size:16px; margin:30px; text-align:center;}
.popContent h5 span{ color:#F00; font-size:35px; }

.sj_left{ width:60%; float:left;  border-right:1px solid #ebebeb;}
.sj_right{ width:39.29%; float:right;}
.sj_right h4{ background:#30aade; height:47px; color:#fff; font-size:14px; line-height:47px; text-indent:1em;}
.sj_right h4 span{ color:#F00; font-weight:bold;}
.sj_right h5{ font-size:14px;}
.sj_right ul{ margin:10px 25px;}
.sj_right ul li{ line-height:35px; }
.sj_right ul li span{  display: inline-block;  width:40px; height:20px;  margin-left:10px; }
.sj_center{ float:left; width:15%; padding-top:20%; padding-left:5px; text-align:center;  }
.sj_center a{ margin:5px 0;}
/* 教师版已发送*/

/*表格样式*/
.table_hfx { clear: both; border-collapse: collapse; border-spacing: 0; background: #fff; }
.table_hfx td{border:1px solid #bedcf1;line-height:35px;overflow:hidden;padding:0 6px; text-align:center;}
.table_hfx .tit2 {height:40px;line-height:40px;  background:#e0f1fd; color:#555;cursor:default;padding:0 6px;font-weight:bold;}
.table_hfx .tit2 td {}
.table_hfx.qk2 td { line-height:25px; padding:6px 0; min-height:40px;}
.table_hfx.qk2 .tit2 {height:50px;line-height:50px;}
.table_hfx td.lef{ text-align:left;}

.jiansuo { border:1px solid #efefef;  background-color:#f9f9f9; margin-bottom:10px; padding:0 20px; height:60px; line-height:60px; font-size:1.2em; }
.jiansuo span{ float:right; display:inline-block;}
.jiansuo select{ height:35px; width:130px; font-size:14px; padding-left:5px;}
.jiansuo a{ display: inline-block; height:25px; padding:0 15px; border-radius:25px; margin:0; }
.jiansuo a:hover{ background:#0096D6; height:25px; padding:0 15px; text-decoration:none; border-radius:25px; color:#fff; line-height:25px;}
.hf_tishi{background:  #f2fbff; border:none; color:#0096D6;}
.home_text{width:60%; height:40px; border:1px solid #e1e1e1; color:#888; font-size:14px; padding:5px 10px;}

/*消息模板弹出层*/




.fileIcon { margin:5px 20px 20px 0; }

.fileIcon h2 { clear:both; font-size:14px; border-bottom:1px solid #e4e4e4; line-height:35px; height:35px; margin-bottom:10px; }
.class_tk{background:#f3fbfe; padding:10px; line-height:40px;}
.class_tk a{ display:inline-block; margin:0 3px; color:#0d69a9; text-decoration:none;  border:1px solid #f3fbfe; padding: 0 5px; line-height:28px; height:28px;}
.class_tk a:visited{color:#0d69a9;text-decoration:none;}
.class_tk a:hover{ background:#fff; border:1px solid #30AADE;}
.class_tk a.cur{background:#0096D6;  color:#fff; }
.class_tk a.cur:hover{ background:#0096D6;  color:#fff; border:1px solid #f3fbfe;}


.mb_list {clear:both;text-align:center; border-collapse:collapse; border:none; border-spacing:0;background:#fff; }
.mb_list td {padding:10px 5px;border-bottom:1px solid #e4e4e4; text-align:left;} 
.mb_list td p{ color:#1FA4DE; text-align:right; height:20px; margin-top:-5px;}

.moban { height:560px; overflow-y:auto; overflow-x:hidden; margin:10px 0 10px 10px; padding-right:10px;}
.le_send { height:30px; line-height:27px; background:#6BCEF9;  cursor:pointer; font-family:"微软雅黑"; width:61px; color:#fff; text-align:center; border:none;}
.le_send:hover { background: #30AADE;}

.xiugai { height:30px; line-height:30px; background:#6BCEF9; cursor:pointer;  width:100px; color:#fff; text-align:center; border:none; font-size:1.2em; margin-left:20px;}
.xiugai:hover { background:#0096D6;}
.shuming{ font-size:1.2em; line-height:40px;}

.hf_send1 { height:40px; line-height:40px; background:#6BCEF9; cursor:pointer;  width:100px; color:#fff; text-align:center; border:none; font-size:1.2em;}
.hf_send1:hover { background:#30aade;}

.xgshuming{ padding:20px 80px;}
.xgshuming p{ line-height:45px; border-bottom:1px solid #e4e4e4; }
.xgshuming p:last-child{ border-bottom:none; text-align:left; margin-top:20px;}
.xgshuming p span{ float:right;}

.w980 .hf_biao p.hf_font label{ font-size:14px;}

h5.txts{ font-size:14px; color:#888; line-height:24px; margin-left:10px; text-align:left;}

/*增加班级弹出层*/
.left_1 {width:150px;float:left; background-color:#f4f4f4; min-height:440px; _height:440px;}
.right_1 {width:348px;float:right; }
ul.add_banji { line-height:33px; height:399px; overflow-y:auto; overflow-x:hidden; padding: 10px 0 0 0;}/*2014.3.5*/
ul.add_banji li {border-bottom: 1px dotted #efefef;display:block;color: #555; padding-left:20px; height:33px; overflow:hidden;}
ul.add_banji li:hover {background-color:#fafafa;}
ul.add_banji li input {_margin:6px 0;}
ul.nianji { line-height:33px; margin:0;}
ul.nianji li {border-bottom:1px solid #e4e4e4; }
ul.nianji li a,ul.nianji li a:visited {display:block; text-align:center; color:#999;}
ul.nianji li a:hover {background-color:#f9f9f9; color:#269bd7; text-decoration:none;}
ul.nianji li.sel_2 a,ul.nianji li.sel_2 a:visited {background-color:#269bd7; color:#fff;}

.left_1 h3 {padding:5px 10px; text-align: center; color: rgb(38, 155, 215); font-size: 12px;}
.right_1 h3 {background-color: rgb(236, 249, 255);padding: 5px 10px;border-bottom: 1px dotted rgb(211, 233, 244);font: 12px/20px 宋体; color: rgb(38, 155, 215);}
span.ok3 {float:right;margin:5px 40px 0 10px; _display:inline; background:url(../images/right_ico.png) no-repeat 0 0; width:22px; height:22px; display:inline-block; font-size:0;}
a.jia2,a.jia2:visited {background:url(../images/jia2.png) no-repeat 0 -22px;width:22px;height:22px; display:inline-block; vertical-align:middle;font-size:0; _margin:5px 40px 5px 10px; float:right; margin:5px 40px 0 10px;}/*2014.3.5*/
a.jia2:hover {background-position:0 0;}
/*增加班级弹出层end*/
.xueke{ border:1px solid #efefef; margin-bottom:1em; height:80px; line-height:40px; font-size:1em; width:100%;}
.xueke label{ background:#F4F4F4; display:block; width:16.7816091954023%; float:left; color:#999; text-indent:2%; font-size:1.2em;}
.xueke h5{ width:60%; float:left; padding-left:10px; }
.xueke h5 input{ margin:0 5px 0 10px; }

span.hf_gr{width:15%; float:right; text-align:right; margin-right:5px; _display:inline;}
span.hf_gr a,span.hf_gr a:visited { line-height:26px; height:24px; padding:0 15px; display:inline-block; margin-left:5px; font-weight:normal; }

 a.hf_green,span a.hf_green:visited { display: inline-block; padding:2px 7px; background-color:#23c973;  color:#fff;}
 a.hf_green:hover {background-color:#0bce9d; text-decoration:none;}

.cjj{ text-align:center; }
.textbox_cjd {background:#fff ;height:40px;line-height:45px;padding:0 8px;border:1px solid #efefef;width:60%;margin-top:-4px;}
.cj_box{  background:#fff ;height:20px;line-height:20px; text-align:center; border:1px solid #E4E4E4; width:65px;}
a.shang,a.shang:visited{ color:#09F; margin-left:3px;}
a.shang:hover{ margin-left:3px;}

a.cj_green,a.cj_green:visited{ color: #090; margin-left:3px; font-weight:normal;}
a.cj_green:hover{ margin-left:3px;}
.w980 a.cj_green,a.cj_green:visited{ color: #090; margin-left:0px; font-weight:normal;}
.w980 a.cj_green:hover{ margin-left:0px;}
.tj_stu{ margin:10px 0; color:#999;}
.cjd tr.tit2{ font-size:12px; }

.tj_sl{ margin:15px 0; border:1px solid  #EFEFEF; background: #F9F9F9; padding:10px; text-align:center;}
.cjd tr.red{ color:#F00;}
.ts_mb{ border:none; height:40px; overflow:hidden; background:#f9f9f9; text-align:center;}

.ylcj{ margin-top:20px;}
.ylcj h5{ margin-bottom:10px; line-height:30px; font-size:14px; text-indent:1em; }


/* modify by zdh  20141203 */

.subCon{ background-color:#f4f4f4; padding:10px; margin-bottom:10px;}
ul.subNav{ margin-left:15px;}
ul.subNav li{ float:left; display:inline;   margin-right:5px;}
ul.subNav li a{ display:block;  padding:3px ; border-radius:5px;  font-size:15px;}
ul.subNav li a:hover{ text-decoration:none;}
ul.subNav li a span{ display:block; height:27px; line-height:27px; padding:0 10px; text-align:center;border-radius:3px;  border:1px dotted #ccc; cursor:pointer;}
ul.subNav li a.cur,ul.subNav li a:hover{ background-color:#6BCEF9; color:#fff;}
ul.subNav li a.cur span,ul.subNav li a:hover span{ border:1px dotted #efefef;}
ul.subNav.parent li a.cur,ul.subNav.parent li a:hover{ background-color:#e8ce64; color:#fff;}
ul.subNav.stu li a.cur,ul.subNav.stu li a:hover{ background-color:#50CC8C; color:#fff;}

.mainCon{ margin:10px; border:1px solid #efefef; background:url(../images/bg_list2.png) -21px 0 repeat-y; position:relative;}
.leftCon{ width:180px; position:absolute; }
.rightCon{ margin-left:180px;min-height:450px;}

ul.leftMenu{ padding:20px 0; padding-right:1px; margin-left:20px; width:159px;}
ul.leftMenu li{}
ul.leftMenu li a{ display:block; padding:10px 15px;  font-size:15px; color:#555; position:relative;}
ul.leftMenu li a:hover{ border-left:3px solid #ccc; text-decoration:none; background-color:#fff; color:#555;}
ul.leftMenu li a.cur{ background-color:#fff; border-left:3px solid #269bd7; color:#269bd7; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
ul.leftMenu li a span{ margin-right:5px;}
ul.leftMenu li a:hover span,ul.leftMenu li a.cur span{ margin-right:5px; margin-left:-3px;}
ul.leftMenu s{ display:block; height:1px; background-color:#e4e4e4; margin:5px 1px 5px 0;}
ul.leftMenu a i{ display: inline-block;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left:5px solid #f4f4f4; position:absolute; right:10px; top:14px;}
ul.leftMenu a:hover i{border-left:5px solid #555;}
ul.leftMenu a.cur i{border-left:5px solid #269bd7;}
ul.leftMenu a b{ font-size:10px; color:#f00; margin-left:5px;}

ul.topTab{ height:36px; line-height:36px; border-bottom:2px solid #6BCEF9; margin:10px 10px 0;}
ul.topTab li{ float:left; display:inline;}
ul.topTab li a{ display:block; margin-right:5px; padding:0 15px; font-size:16px; background-color:#f4f4f4; color:#999; text-decoration:none; border-radius:5px 5px 0 0 ;}
ul.topTab li a:hover{ color:#555; background-color:#efefef;}
ul.topTab li a span{ margin-right:5px; font-size:16px;}
ul.topTab li a.cur{ background-color:#6BCEF9; color:#fff;}

.tbs1{ padding:5px 10px 0;}
.tbs1 table{ width:100%;}
.tbs1 table td{ padding:5px; border-bottom:1px dashed #efefef; font-size:15px; color:#555;}
.tbs1 table td span.con{ margin-right:15px;}
.tbs1 table td input.dan,.tbs1 table td input.fu{ margin-right:5px;  margin-top:-3px;}
.tbs1 table td input.txt{ padding:2px 3px; padding:3px 3px\9;}
.tbs1 table td select{ padding:2px 3px;}

.tbs2{ padding:0 10px 10px;}
.tbs2 table{ width:100%; border-collapse:collapse; margin-top:-1px;}
.tbs2 table td{ padding:5px 10px; border:1px solid #6BCEF9; background-color:#ecf9ff; font-size:14px;}
.tbs2 table td div{ text-align:right;}
.tbs2 table td div strong{  margin-right:15px;}
.tbs2 table td div a{ padding:3px 7px;  color:#f00;}

a.btn{ border-radius:3px; text-decoration:none;}
a.mini{ height:25px; line-height:25px; padding:0 10px; vertical-align:middle; display:inline-block; font-size:14px; background-color:#efefef; margin-left:15px; color:#999;}
a.sms{ padding:0px 10px;  background-color:#ecf9ff;border:1px solid #6BCEF9; margin-left:15px; color:#269bd7; font-size:21px; display:block; float:left; height:27px; line-height:23px;}
a.sms span{ display:inline-block; vertical-align:middle;}
a.sms b{ margin-left:5px; font-size:14px; display:inline-block; vertical-align:middle;}
a.btn:hover{ background-color:#6BCEF9; color:#fff;}

/*20141205 add zxj*/
.tbs3{ margin:20px 30px;}
.le_textbox { background:#fff; line-height:23px; padding:0 5px; border:1px solid #d2d2d2; width:95%; color:#666; font-size:12px; color:#888; height:100px; }

.email_list,.email_content {width:96%; margin:10px 10px 10px 16px;_margin-left:16px;}
a.btn1,a.btn1:visited {background:url(../images/btn_normal.jpg) repeat-x;height:26px;line-height:26px;display:inline-block;text-align:center;border:1px solid #d1d1d1;padding:0 7px;margin-right:5px;font-weight:normal;}
a.btn1:hover {background-image:url(../images/btn_hover.jpg);border:1px solid #b4b4b4;text-decoration:none;}
a.btn1 img,a.btn1:visited img,a.btn1_disable img,a.btn1_disable:visited img {margin:7px 0;}
a.btn1_disable,a.btn1_disable:visited {background:#f0f0f0;border:1px solid #d8d8d8;height:26px;line-height:26px;display:inline-block;text-align:center;padding:0 6px;margin-right:5px;}

div.bar {height:30px;line-height:30px;margin:10px 0;background:#f8f8f8;padding:3px 0 0 10px;}
div.bar span {font:normal 12px/20px Arial;width:100px;float:right;}
div.bar a.gray{ height:25px; line-height:25px;}

.email_list h3 {margin-bottom:10px;}
a.orang,a.orang:visited {display:inline-blocks;margin-right:5px;text-align:center;padding:2px 7px;font:normal 12px 微软雅黑;}
a.orang:hover {background:#5da9e0;color:#fff; text-decoration:none;}

.dbt {font:normal 19px/36px 微软雅黑;border-bottom:1px solid #e4e4e4;margin-bottom:15px;color:#333;display:block;}
.dbt.qk3 {width:96%; margin:10px 10px 10px 16px;text-indent:5px;}
.dbt.qk3 span {float:right; font:normal 12px/36px 宋体; color:#555;}
h2.fenzu_fz{ padding:15px 20px 20px 20px;}
h2.fenzu_fz span.fr_y{ float:right;}

/*新增分组*/
.xzfz{ margin:20px 30px; }
.xzfz p{ line-height:40px; margin:5px 0;}
.xzfz p label{ font-weight:bold;}
.fz_text{ line-height:20px; border:1px solid #e1e1e1; color:#888; font-size:14px; padding:5px 10px;}
h3.bg_df,h2.bg_ts{ margin:20px 30px 0 30px; padding:0 10px; background:#f8f8f8; line-height:40px; font-size:14px;}
h3.bg_df span.con{ margin-right:20px;}

h2.bg_ts{ border:1px solid #f1f1f1;  }

a.sms1{ padding:0px 10px;  background-color:#ecf9ff;border:1px solid #6BCEF9; margin-left:15px; color:#269bd7;  display: inline-block;  height:27px; line-height:23px;}

/*短信模板*/
.bg_kuang{ margin-left:10px;}
.fl_left{  }
.fl_left h4{ color:#f60; line-height:35px; text-align:center;}
.fl_right{}
.fl_tree{  padding:10px;}

.mb_search{  margin:10px; width:97%; background:#f7f7f7;}
.mb_search p{ line-height:35px; }
.sou_box_mb {width:60%; height:23px; padding:5px 10px; line-height:23px;border:1px solid #e4e4e4;font-size:14px; color:#888;}

.xq_dx{ padding:10px 20px; margin:10px;}
.xq_dx p{ text-indent:2em; line-height:26px; font-size:14px; }

/*模板分页*/

#pages_mb { margin:10px 15px; }
#pages_mb a { display:inline-block; height:22px; line-height:22px; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px; margin:0 2px; background:#fff; }
#pages_mb a.a1 { width:56px; padding:0 }
#pages_mb a:hover { color:#000; text-decoration:none; border:1px solid #4dace7; }
#pages_mb span.num { display:inline-block; height:22px; line-height:22px; background:#4dace7; border:1px solid #4dace7; color:#fff; text-align:center; padding:0 10px; font-weight:bold; }
.page_mb { }
.page_mb .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:#ddd; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
.page_mb .tips { position:absolute; left:0; top:20px; color:#999; }

.page_mb span.fy{ float:right;}
/*模板分页end*/

.tjBtn,a.tjBtn,a.tjBtn:visited {background-color:#6bcef9; color:#fff; padding:0 20px; height:35px; line-height:35px; font-size:14px; text-align:center; border:none; display:inline-block; vertical-align:middle;}
.tjBtn:hover,a.tjBtn:hover {background-color:#59c4f3; cursor:pointer; text-decoration:none;}

/*成绩管理*/
.hui_zi{ color:#888;}
