.f-nav {
    height: 44px !important;
    background-image:none;
    border-top-style:none;
}

.f-nav ul {
    margin-left: 180px !important;
    height: 44px !important;
    overflow: hidden !important;
}

.f-nav ul li {
    float: left !important;
    border: none !important;
    height: 44px !important;
}

.f-nav ul>li>a {
    display: block !important;
    font-size: 18px !important;
    padding: 0px 30px !important;
    color: #000 !important;
    height: 44px !important;
    line-height: 44px !important;
    margin: 0px !important;
    border-bottom: none !important;
    border: 0 !important;
}

.f-nav ul li>span {
    display: none !important;
}

.f-nav ul>li>a:hover,
.f-nav ul>li>a.sel {
    background: #f8b502 !important;
    color: #fff !important;
}

.f-nav ul>li>a:hover {
    padding: 0px 29px !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
}
.yj_logo{margin-left:-20px;width:520px}
.userInfo{width:270px}
.ssou_wrap{width:395px;}
.ssou_k{width:394px;}
.souBtn_white{background-color:#f8b502;color:#FFF;width:65px;padding-left:15px}
.txt_ssou{width:305px;}
a.tit1,a.tit1:visited {color:#00bd52;}
.login_con{right:90px}
/*.tit1{color:black}*/