@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

.turn-off{ float:right;}
body{ background-image:url(../../images/w980/bj.png);}
.bjbox{ background-image:url(../../images/w980/hdxx.png); margin:0 auto;width:980px; height:1700px; position:relative;}
.ydbox{
	background-image: url(../../images/w980/M-hdxx-sy.png);
	width: 389px;
	height: 899px;
	position: absolute;
	left: 0px;
	top: 171px;
}
.btn{ width:190px; height:56px; display:block; margin-top:841px; margin-left:103px;}
