@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

body{ background-image:url(../images/bj.png);}
.bjbox{ background-image:url(../images/background-images.png); margin:0 auto;width:995px; height:2300px; position:relative;}
.ydbox{
	background-image: url(../images/C-index-sy.png);
	width: 980px;
	height: 781px;
	position: absolute;
	left: 5px;
	top: 298px;
}
.btn{ width:203px; height:56px; display:block; margin-top:727px; margin-left:447px;}
