@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{list-style-type:none;}
a{ text-decoration:none; }
img{ border:0 none; display:block;}
input{ border:0 none;}

.turn-off{ float:right;}
body{ background-image:url(../../images/w980/bj.png);}
.bjbox{ background-image:url(../../images/w980/jxhd.png); margin:0 auto;width:980px; height:1363px; position:relative;}
.ydbox{
	background-image: url(../../images/w980/T-jxhd-sy.png);
	width: 757px;
	height: 384px;
	position: absolute;
	left: 10px;
	top: 169px;
}
.btn{ width:190px; height:56px; display:block; margin-top:190px; margin-left:565px;}
