.banner {
    margin-bottom: 0px;
}

.banner-nav .left-toggle {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 211px;
    height: 173px;
    background: #fff;
    padding-left: 58px;
    padding-right: 17px;
    background-color: #fff;
    background-image: url('../img/ico_01.png');
    background-repeat: no-repeat;
    /* color: #fff; */
}

.banner-nav .ver-title {
    padding: 15px 10px 14px 9px;
    background: #00bd52;
    color: #fff;
    font-size: 16px;
    margin-bottom: 22px;
    overflow: hidden;
    text-align: center;
}

.banner-nav .ver-txt {
    margin-bottom: 26px;
}

.banner-nav .ver-txt span {
    font-size: 14x;
    color: #666;
}

.banner-nav .ver-oper-adddel {
    color: #fff;
    float: left;
    width: 165px;
    background: #f8b502;
    font-size: 14px;
    text-align: center;
    padding: 7px 0px;
    margin-right: 5px;
    cursor: pointer;
}

.banner-nav .ver-select {
    color: #fff;
    float: left;
    width: 40px;
    background: #00bd52;
    font-size: 14px;
    text-align: center;
    padding: 7px 0px;
    cursor: pointer;
}


/* sync-main start */

.sync-main {
    height: 879px;
}

.sync-main .sync-main-left {
    float: left;
    width: 239px;
    height: 922px;
    border: 1px solid #efefef;
    border-right-width: 2px;
}

.sync-main .sync-main-left .menu {
    height: 48px;
    padding-left: 40px;
    /* margin-bottom: 4px; */
}

.sync-main .sync-main-left .menu {}

.sync-main .sync-main-left .menu li {
    float: left;
    border: 1px solid #e4e4e4;
    width: 95px;
    height: 38px;
    margin-top: 4px;
    margin-right: 2px;
    line-height: 38px;
    text-align: center;
}

.sync-main .sync-main-left .menu li span {
    width: 66px;
    overflow: hidden;
    display: block;
    float: left;
    color: #555555;
    height: 38px;
}

.sync-main .sync-main-left .menu i {
    float: left;
    width: 29px;
    display: block;
    height: 38px;
    color: #aaaaaa;
    cursor: pointer;
    /* background: red; */
}

.sync-main .class-list {
    border-top: 1px solid #efefef;
    background: #f9f9f9;
    height: 829px;
    padding: 22px 14px;
    overflow: auto;
}

.sync-main .class-list a {
    display: block;
    color: #555;
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 2px;
}

.sync-main .class-list li.on a,
.sync-main .class-list li:hover a {
    background: #f8b502;
    color: #fff;
    border-radius: 5px;
}


/* sync-main-right start */

.sync-main-right {
    margin-top: 35px;
    padding-left: 40px;
    width: 913px;
    padding-right: 5px;
    float: left;
}

.sync-main-right .sync-main-title {
    padding: 26px 0px;
    /* position: relative; */
}

.sync-main-right .sync-main-title h3 {
    text-align: center;
    color: #000;
    font-size: 20px;
}

.sync-main-right .sync-main-title h3 span {
    font-size: 24px;
    font-weight: bold;
}

.sync-main-right .sync-main-title ul {
    float: right;
    margin-top: -30px;
}

.sync-main-right .sync-main-title ul li {
    float: left;
    margin-left: 5px;
    line-height: 30px;
}

.sync-main-right .sync-main-title ul li a {
    display: block;
    border: 1px solid #a7a5a5;
    border-radius: 3px;
    text-align: center;
    padding: 1px 5px;
    cursor: pointer;
    color: #a7a5a5;
    /* text-decoration: underline; */
}

.sync-main-right .sync-main-title ul li.off a {
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
}

.sync-main-select-class {
    padding: 6px 2px 15px 2px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
}


/* .sync-main-select-class>ul>li {
    margin-bottom: 10px;
} */

.sync-main-select-class>ul>li li {
    float: left;
    padding: 9px 27px;
    cursor: pointer;
    border: 1px solid #fff;
    margin-top: 9px;
    margin-right: 5px;
}

.sync-main-select-class>ul>li.one li.on,
.sync-main-select-class>ul>li.one li:hover {
    background: #f8b502;
    color: #fff;
    border-radius: 20px;
}

.sync-main-select-class>ul>li.two li.on,
.sync-main-select-class>ul>li.two li:hover {
    border: 1px solid #f8b502;
    color: #f8b502;
    border-radius: 20px;
}

.sync-conent-list .share-link {
    float: right;
    margin-right: 5px;
    display: block;
    color: #fff;
    background: #f8b502;
    padding: 9px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 2px;
}

.sync-conent-list>ul {
    padding-top: 50px;
}

.sync-conent-list>ul img {
    float: left;
    width: 198px;
    height: 126px;
    display: block;
}

.sync-conent-list>ul>li {
    height: 126px;
    margin-bottom: 20px;
}

.sync-conent-list>ul .list-info {
    float: left;
    width: 690px;
    padding-left: 15px;
}

.sync-conent-list>ul .list-info .info-title {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}

.sync-conent-list>ul .list-info .info-note {
    max-height: 45px;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
    overflow: hidden;
}

.sync-conent-list>ul .list-info .info-data {
    color: #999;
    font-size: 14px;
}


/* sync-main-right end */


/* page start */

.page {
    height: 29px;
    margin-bottom: 20px;
    padding-right: 5px;
}

.page ul {
    float: right;
    /* height: 29px; */
}

.page ul li {
    float: left;
    margin-right: 5px;
    /* line-height: 29px; */
    padding: 5px 10px;
    cursor: pointer;
}

.page ul li.prev,
.page ul li.next {
    border: 1px solid #c1c1c1;
    color: #888;
}

.page ul li.page-each {
    background: #00bd52;
    color: #fff;
    cursor: pointer;
}


/* page end */


/* sync-main end */