.clFooter{
  background: #f4f4f4;
  border-top: 4px solid #dfdfdf;
  margin-top: 30px;
  .clFooterIn{
    @extend %content;
    position: relative;
    height: 192px;
    .clQRcode{
      position: absolute;
      top: 30px;
      left: 70px;
      img{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
      }
      figcaption{
        font-size: 16px;
        color: #555555;
        margin-top: 10px;
        text-align: center;
      }
    }
    .copyBox{
      position: absolute;
      left: 363px;
      top: 50px;
      p{
        font-size: 16px;
        color: #555555;
        line-height: 30px;
      }
    }
  }
}