/*样式重置，开始{*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, figure, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #5a5a5a;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none;
}

legend {
    color: #000;
}

i {
    font-style: normal;
}

html, body {
    height: 100%;
    font-size: 16px;
    font-family: "NotoSnsHans DemLight", "Microsoft YaHei", "微软雅黑", "AppleGothic";
}

/*}结束，样式重置*/