span.sz.jb {display:inline-block;background:#ff0000;height:17px;padding:0 5px;position:absolute;right:8px;top: -5px;z-index:88;-moz-border-radius:10px;-webkit-border-radius: 6px;border-radius:5px;line-height:17px;color: #fff;font-size: 10px;}
span.zb {
display: inline-block;
    background:url(../images/ts.png);
    background-size:100%;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 88;
    line-height: 17px;
    color: #fff;
    font-size: 10px;
    top: 0;
    left: 0px;
    right: auto;
    padding:0px;
}